/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
@import "tailwindcss";

@font-face {
    font-family: "Feeling Passionate";
    src: url('/assets/fonts/feeling-passionate-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@theme {
  --font-headline: "Feeling Passionate", sans-serif;
}
