<WizardStep @previous="memories" @next="form" class="bg-pink-500 text-white">
  <div class="px-4 py-12 text-center">
    <div class="-rotate-5 text-4xl font-headline">
      Quanta costa?
    </div>
    <div class="mt-12 lg:mt-6 space-y-8">
      <ul class="space-y-4">
        <li>650&euro; voor een volwassene in half-pension</li>
        <li>250&euro; voor een kind in vol-pension</li>
      </ul>
      <p>Dit zijn voorlopige richtprijzen. We doen onze uiterste best om ze zo laag mogelijk te houden.</p>
    </div>
  </div>
</WizardStep>
