<div class="w-screen min-h-screen bg-[url(/assets/images/swirl.png)] bg-center bg-repeat bg-yellow-500 overflow-hidden">
  <div class="pt-6 flex items-center justify-center">
    <h1 class="-rotate-6 text-6xl/18 md:text-8xl/36 font-headline font-bold text-center text-white">
      Ga je mee<br>naar Gerardmer?
    </h1>
  </div>

  <div class="max-w-3xl mx-auto">
    <div class="my-8 mx-2 bg-[url(/assets/images/cover.jpg)] bg-cover h-80 md:h-96 -rotate-6">
      <div class="outline-6 outline-yellow-500 -outline-offset-12 outline-dotted h-full"></div>
    </div>
  </div>

  <LinkTo @route="intro" class="absolute inset-x-0 bottom-0 flex justify-center py-8">
    <div class="text-white animate-bounce">
      {{svg-jar "arrow-right-circle" class="h-16 w-16"}}
    </div>
  </LinkTo>
</div>