<div class="flex justify-center items-center w-screen min-h-screen bg-[url(/assets/images/swirl.png)] bg-center bg-repeat bg-yellow-500">
  <div class="h-full w-full max-w-2xl flex flex-col justify-center">

    <h1 class="pt-6 -rotate-6 text-6xl/18 md:text-8xl/36 font-headline font-bold text-center text-white">
      Ga je mee<br>naar Gérardmer?
    </h1>

    <div class="max-w-3xl">
      <div class="my-8 mx-2 bg-[url(/assets/images/cover.jpg)] bg-cover h-80 md:h-96 -rotate-6">
        <div class="outline-6 outline-yellow-500 -outline-offset-12 outline-dotted h-full"></div>
      </div>
    </div>

    <LinkTo @route="intro" class="flex justify-center py-8">
      <div class="text-white animate-bounce">
        {{svg-jar "arrow-right-circle" class="h-16 w-16"}}
      </div>
    </LinkTo>
  </div>
</div>