<WizardStep @previous="index" @next="where" class="bg-pink-500 text-white">
  <div class="px-4 text-center space-y-12 sm:space-y-6">
    <div class="space-y-6 sm:space-y-2 md:space-y-6">
      <p>Het is even geleden</p>
      <p>maar...</p>
      <p>d'Harmonie van Humbeek<br> gaat weer op reis!</p>
    </div>

    <div class="text-3xl/12 font-headline">
      10 tot 15 juli 2027 <br>Gérardmer (FR)
    </div>

    <p>Ga je mee?</p>
  </div>
</WizardStep>