<WizardStep @previous="youth" @next="cost" class="bg-yellow-500 text-white">
  <div class="px-4 py-12 text-center">
    <div class="-rotate-5 text-4xl/12 font-headline">
      Gaat het daar plezant zijn?
    </div>
    <div class="mt-12 lg:mt-6 space-y-8">
      <p>Natuurlijk!</p>
      <p>Geen idee wat je moet verwachten?<br> Bekijk de foto's van onze vorige reizen naar</p>
      <ul class="space-y-4">
        <li>
          <a href="https://khsc.be/index.php/foto-s/reizen/2006-holzgau" target="_blank">
            Holzgau (AU)
          </a>
        </li>
        <li>
          <a href="https://khsc.be/index.php/foto-s/reizen/2011-florac" target="_blank">
            Florac (FR)
          </a>
        </li>
        <li>
          <a href="https://khsc.be/index.php/foto-s/reizen/2011-florac-2" target="_blank">
            Riquewihr (FR)
          </a>
        </li>
        <li>
          <a href="https://khsc.be/index.php/foto-s/reizen/2019-amersfoort" target="_blank">
            Amersfoort (NL)
          </a>
        </li>
      </ul>
    </div>
  </div>
</WizardStep>
