<WizardStep @previous="where" @next="youth" class="bg-teal-500 text-white">
  <div class="px-4 py-12 text-center">
    <div class="-rotate-5 text-4xl font-headline">
      Wat gaan we doen?
    </div>
    <div class="mt-12 lg:mt-6 space-y-8">
      <p>Het programma is gevuld met culturele uitstapjes, sportieve activiteiten in de natuur en leuke spelmomenten voor jong en oud. Alles steeds vrijblijvend natuurlijk.</p>
      <p>Je kan er wandelen in de bergen, fietsen, mountainbiken, bootje varen op het meer, toertjes op de molen draaien, musea bezoeken, rondkuieren in de winkelstraatjes, ...</p>
      <p>Een absoluut hoogtepunt wordt de viering van 14 juli, de Franse nationale feestdag, met vuurwerk, festiviteiten en misschien wel een feestelijk concert van onze eigen harmonie!</p>
    </div>
  </div>
</WizardStep>
