<WizardStep @previous="intro" @next="what" class="bg-yellow-500 text-white">
  <div class="px-4 py-12 text-center">
    <div class="-rotate-5 text-4xl font-headline">
        Naar waar gaan we?
    </div>
    <div class="mt-12 lg:mt-6 space-y-8">
      <p>We gaan naar Gérardmer, een sfeervol stadje in de Franse Vogezen, op een steenworp van de Elzas.</p>
      <p>Vanuit Humbeek is het 450km of een 5-tal uur rijden. Je kan kiezen om dit zelf te doen of mee te gaan met de bus.</p>
      <p>Gérardmer combineert het beste van cultuur, sport en ontspanning. Het prachtige meer biedt tal van mogelijkheden: een verfrissende duik, een ontspannen boottochtje of gewoon genieten aan de waterkant.</p>
      <p>Iedereen, zowel jong als oud, komt er aan zijn trekken.</p>
    </div>
  </div>
</WizardStep>