<WizardStep @previous="what" @next="memories" class="bg-pink-500 text-white">
  <div class="px-4 py-12 text-center">
    <div class="-rotate-5 text-4xl font-headline">
      En de jeugd?
    </div>
    <div class="mt-12 lg:mt-6 space-y-8">
      <p>Ook Jéécéé gaat mee!</p>
      <p>Voor velen wordt dit hun eerste buitenlandse kamp. Er wordt een apart programma voorzien, helemaal op maat, vol spel en plezier.</p>
      <p>Alle kinderen vanaf geboortejaar 2021 kunnen hierbij aansluiten. Ze hoeven hiervoor geen muziek te spelen.</p>
    </div>
  </div>
</WizardStep>
